*{
    font-family: "Poppins",sans-serif;
}
body{
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(3px);
}

#medal{
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
}

#msclogo,
#intrumlogo{
    height: 100px;
    width: 100px;
}
.title{
    font-size: 40px;
    color: #fff;
}
/* CSS for ranking board */
.ranking-board {
    margin: 20px auto;
    border-collapse: collapse;
}

  /* CSS for table rows */
.row {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.row img{
    height: 70px;
    width: 70px;
}

  /* CSS for table headers */
.row.header {
    font-weight: bold;
}

  /* CSS for table cells */
.row > div {
    flex-basis: calc(100% / 7); /* Equally distribute columns */
    text-align: center;
}

  /* Specific cell styles */
.rank {
    flex-basis: calc(100% / 12); /* Adjust the width for rank column */
}

.delegations {
    flex-basis: calc(100% / 3); /* Adjust the width for delegations column */
}

@media (max-width: 767px) {
    .ranking-board .header {
        font-size: 12px; /* Adjust the font size for header on small screens */
    }
    .ranking-board .row > div {
        flex-basis: 100%; /* Full width for each column on small screens */
    }
    #medal {
        max-width: 50px;
        width: auto; 
        height: auto; 
    }
}

/*CSS HOVER EFFECT*/
.container {
    font-family: Arial, sans-serif;
}

.row:not(.header):hover {
    background: hsla(135, 39%, 35%, 1);
    background: linear-gradient(270deg, hsla(135, 39%, 35%, 1) 33%, hsla(0, 70%, 53%, 1) 64%);
    background: -moz-linear-gradient(270deg, hsla(135, 39%, 35%, 1) 33%, hsla(0, 70%, 53%, 1) 64%);
    background: -webkit-linear-gradient(270deg, hsla(135, 39%, 35%, 1) 33%, hsla(0, 70%, 53%, 1) 64%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#367A47", endColorstr="#DB3232", GradientType=1 );
    transition: background-color 0.3s ease-in-out;
}

.row:not(.header) {
    cursor: pointer;
}


.row:not(.header) img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.row:not(.header) div {
    padding: 10px;
}

.row:not(.header) div.rank {
    font-weight: bold;
}

.row:not(.header) div.delegations {
    flex-grow: 1;
}

.row:not(.header) div.sports,
.row:not(.header) div.cultural,
.row:not(.header) div.academics,
.row:not(.header) div.total {
    text-align: center;
    font-weight: bold;
}
